# OS files
.DS_Store
Thumbs.db

# Node.js
node_modules/
dist/
build/
.npm
.eslintcache

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
*.so

# Docker
.dockerignore

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
backend/.env
frontend/.env
frontend/node_modules/
backend/venv/
backend/__pycache__/
